# Rollup native dependencies fix
# See: https://github.com/vitejs/vite/issues/15167
supportedArchitectures.os=["win32", "darwin", "linux"]
supportedArchitectures.cpu=["x64", "arm64"]
supportedArchitectures.libc=["glibc", "musl"]